
*{
    padding: 0;
    margin: 0;

  }
.container{
    position:relative;
    overflow:visible;
    background-color: #271A58;
    height: 1448px;
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
}

.header{
padding-top: 30px;
}

.headerLogo{
    display: flex;
justify-content: space-between;

}

.headerInfo{
display: flex;
justify-content: space-between;
padding-top: 35px;
}

.headerButton{
    color: white;
    background-color: #140D40;
    width: 77px;
    height: 36px;
    box-sizing: border-box;
    border: none;
    border-radius: 46px;
    cursor: pointer;
}

.headerButton:hover{
    background-color: #2D1F79;
}

.headerButton:active{
    background-color: #3B29A2;
}

.headerDesctiption{
    font-size: 20px;
    color: #FFFFFF;
    -webkit-text-stroke: 1px black;
    letter-spacing: 0.05px;
}

.headerTitle{
    color: white;
    font-size: 60px;
    width: 830px;
    height: 110px;
    padding-top: 17px;
}
.changeBody{
    float: left;
    position: absolute;
    right: 315px;
}

.cards{
    padding-top: 52px;
    display: flex;
    gap: 37px;
    flex-wrap: wrap;
}

.card{
    width: 360px;
    height: 480px;
    box-sizing: border-box;
    border-radius: 30px;
}
.card1{
    width: 360px;
    height: 480px;
    box-sizing: border-box;
    border-radius: 30px;
backdrop-filter: blur(29.04px);
background: rgba(205, 205, 205, 0.1);
}

.footer{
    display: flex;
    justify-content: center;
    padding-top: 41px;
}

.footerButton{
    background-color: #C7E957;
    width: 147px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 46px;
    border: none;
    font-size: 24px;
    color: rgb(0, 0, 0);
font-family: StratosSkyeng;
font-size: 24px;
font-weight: 400;
line-height: 32px;
letter-spacing: -0.1px;
text-align: center;
}

.footerButton:hover{
    background-color: #DAF289;
}

.footerButton:active{
    background-color: #EBFFAB;
}