* {
  padding: 0;
  margin: 0;
  font-weight: 100px;
  /* font-family: "SkyPro";
    src: url("/public/fonts/StratosSkyeng.woff2") format("woff2");*/
}

.container {
  height: 1764px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.headerPage {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.mainPage {
  width: 1160px;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 30px;
}

.titlePage {
  font-size: 48px;
  font-weight: 400px;
  padding-top: 75px;
  padding-bottom: 40px;
}

.infoUser {
  font-size: 24px;
  font-weight: 400px;
  padding-bottom: 20px;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
}

.loginButton {
  background-color: #580ea2;
  color: white;
  font-size: 18px;
  box-sizing: border-box;
  border: none;
  height: 52px;
  min-width: 275px;
  border-radius: 46px;
}

.buttonChangeLog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 14px;

  :hover {
    background-color: #3f007d;
  }

  :active {
    background-color: #271a58;
  }
}

.buttonChangePass {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 14px;

  :hover {
    background-color: #3f007d;
  }

  :active {
    background-color: #271a58;
  }
}

.titleCourses {
  padding-top: 70px;
}

.titleCoursesText {
  font-size: 48px;
}

.coursesCards {
  display: flex;
  padding-top: 60px;
  gap: 40px;
}

.buttonWork {
  width: 136px;
  height: 36px;
  box-sizing: border-box;
  background-color: #c7e957;
  border: none;
  border-radius: 80px;
  font-size: 20px;
}
